header{
    background: url('images/header.png') no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    height: 240px;
    z-index: 9;
    
    .logo{
        display: block;
        margin: auto auto;
    }
}
.menu-main{
    padding: 0;
    
    &.menu-lefter{
        position: absolute;
        bottom: 0;
        left: 18%;
        width: auto;
        
        li{
            a{
                width: 96px;
            }
        }
    }
    
    &.menu-right{
        position: absolute;
        bottom: 0;
        right: 20%;
        
        li{
            a{
                width: 168px;
            }
        }
    }
    
    li{
        display: inline-block;
        list-style: none;
        width: auto;
        
        a{
            font-family: 'capt';
            font-size: 2.5rem;
            padding: 10px 16%;
            color: #F4E2C5;
            display: block;
            width: 200px;
            white-space: nowrap;
            text-shadow: 2px 2px black;
            text-decoration: none;
            word-spacing: -12px;
            text-align: center;
            transition: ease all 0.4s;
            -webkit-transition: ease all 0.4s;
            
            &:hover{
                text-decoration: none;
                text-shadow: 0 0 black;
                color: white;
            }
        }
    }
}
.header-cta-container{
    position: absolute;
    right: 17%;
    
    .reservations{
        background: url('images/btn-reservations.png') no-repeat;
        background-size: 100%;
        display: inline-block;
        width: 185px;
        height: 70px;
        transition: ease all 0.2s;
        
        &:hover{
            
        }
    }
    .photogallery{
        background: url('images/btn-photos.png') no-repeat;
        background-size: 100%;
        display: inline-block;
        width: 185px;
        height: 70px;
    }
}